---
layout: pc
RESPONSIVE: true
REDIRECT: false

BODY_CLASS: work
ADD_STYLES:
ADD_SCRIPTS_HEADER:
ADD_SCRIPTS_FOOTER:

LANGUAGE: ja
NAMESPACE: article
META_CHARSET: UTF-8
META_ROBOTS: index,follow
META_VIEWPORT: width=device-width,initial-scale=1,minimum-scale=1,shrink-to-fit=no,viewport-fit=cover
META_TITLE: これはタイトルです
META_SHARE_TITLE:
META_KEYWORDS: これはキーワードです
META_DESCRIPTION: これはディスクリプションです
META_SHARE_DESCRIPTION:
META_AUTHOR:
META_COPYRIGHT:
META_APPLE_ICON: favicon.png
META_ICON: favicon.png
META_XHTML_ICON: favicon.ico
META_FACEBOOK: true
META_FACEBOOK_IMAGE: ogp_image.png
META_FACEBOOK_LOCALE: ja_JP
META_FACEBOOK_ID:
META_TWITTER: true
META_TWITTER_CARD: summary_large_image
META_TWITTER_ACCOUNT:
META_TWITTER_APP_ANDROID:
META_TWITTER_APP_IPAD:
META_TWITTER_APP_IPHONE:
META_GOOGLE: false
META_WINDOWS: false
META_WINDOWS_IMAGE: tile_image.png
META_WINDOWS_COLOR: #000000
META_OLD_BROWSER: false
META_PWA_MODE: false
---

<main id="section-contents">
<!-- Components Object -->
        <section>
            <div class="lg-container">
                <div class="subpage_fv">
                    <h2 class="js-span-wrap-text js-io">WORKS</h2>
                    <span class="js-io">制作実績</span>
                </div>
            </div>
            <div class="lg-container">
                <p class="work_detail_img">
                    <img 
                        :src="work.img.url"
                        alt=""
                    />
                </p>
            </div>
            <div class="md-container">
                <h3 class="work_headline"><span ref="workTTl">{{ work.title }}</span></h3>
                <p class="work_date">{{ work.time }}</p>
                <div class="mb2">
                    <h4 class="work_detail_ttl">担当</h4>
                    <div>
                        <span
                            class="work_detail_skill"
                            v-for="(part, p_index) in work.parts"
                            :key="p_index"
                        >
                        {{ part.parts }}
                        </span>
                    </div>
                </div>
                <div class="mb2">
                    <h4 class="work_detail_ttl">使用スキル</h4>
                    <div>
                        <span
                            class="work_detail_skill"
                            v-for="(skill,s_index) in work.skills"
                            :key="s_index"
                        >
                            {{ skill.skills }}
                        </span>
                    </div>
                </div>
                <div class="mb2">
                    <h4 class="work_detail_ttl">制作について</h4>
                    <div v-html="work.body" class="work_body"></div>
                </div>
                <p v-if="work.url" class="work_detail_url"><span>website:</span><a href="work.url" target="_blank">{{ work.url }}<img src="/img/common/link.svg" alt="" class="work_url_link"></a></p>
                <div class="btn_wrapper"><a href="/#top-work" class="btn work_btn">戻る</a></div>
            </div>
        </section>
{{!-- {{> components/exampleComponent }}


<!-- Data -->
<p>{{ data.example.text }}</p>
<p>{{ data.exampleTwo.text }}</p>
<p>{{ data.exampleThree.exampleThree.text }}</p>
<p>{{ data.exampleFour.text }}</p>
<p>{{ data.exampleFour.test.text }}</p> --}}
</main>